/*Mobile: 375px
Desktop: 1440px
=

- Font size (paragraph): 14px
- Weights: 400, 600, 700*/

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

*{box-sizing: border-box;}

:root{
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

body{ 
  font-size: 14px; 
  font-family:"Inter";
  font-weight: 400;
  background-color: var(--grey-900);
  margin: 0;
  color: var(--white);
  display: flex;
  align-items: center;
  height: 100vh;
}

p{
	text-align: center;
	margin-top: 0;
	margin-bottom: 25px;
}

h1{
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	line-height: 45px;
	margin-bottom: 10px;
}

h2{
	font-size: 1em;
	font-weight: 700;
	text-align: center;
	line-height: 1em;
	color: var(--green);
	margin-top: 0;
	margin-bottom: 37px;
	line-height: 0;
}

a{
	background-color: var(--grey-700);
	padding: 1em 0 1em 0;
	text-align: center;
	font-weight: 700;
	border-radius: .5em;
	transition: background-color .25s ease, color .25s ease;
}

a:not(:last-child){
	margin-bottom: 16px;
}

a:hover{
	background-color: var(--green);
	color: var(--grey-900);
	transition: background-color 0s ease, color 0s ease;
}

.link-container{
	display: flex;
	flex-flow: column wrap;
}

.profilecard{
	width: 384px;
	margin: auto;
	background-color: var(--grey-800);
	border-radius: 1em;
	padding: 40px;

	@media screen and (max-width: 768px) {
	width: 327px;
	padding: 24px;}
}

.avatar{
	border-radius: 50%;
	overflow: hidden;
	width: 88px;
	height: 88px;
	margin: auto;
}

.avatar img{
	width: 100%;
}
